/*Navigation bar*/

.navbar{
	margin-top: -1px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border : 0px;
	border-radius: 0px;
	border-color: transparent;
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




.brandname{
	font-size: 2.2em;
	padding-left: 0px;
}

.nav-link{
	color: white;
	font-weight: 500;
	font-size: 15px;	
	text-decoration: none;
}

.nav-link:hover{
	text-decoration: none;
	color: white;
}

/*Landing page*/

.landing-grid{
	text-align: center;
	padding: 0px;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.avatar-img{
	width: 230px;
	padding-top: 5.3em;
	padding-bottom: 3em;
}

.banner h1{
	color: white;
	font-size: 60px;
	font-weight: 100;
	font-family: 'Gugi', cursive;
}
.banner p{
	color: white;
	font-size: 20px;
	padding: 1em;
	font-family: 'Oxygen' , sans-serif;
}

.social-links{
	display: flex;
	justify-content: space-around;
	width: 50%;
	font-size: 50px;
	margin-left: 25%;	
}

.social-links a{
	color: white;
}

.social-links a:hover{
	transform: rotate(360deg);
	transition: 1s;
}